.metadata
.project
.classpath
.settings
gen
**/*.swp
**/*~.nib
**/build/
**/*.pbxuser
**/*.perspective
**/*.perspectivev3
**/*.xcodeproj/xcuserdata/*
**/*.xcodeproj/project.xcworkspace/xcuserdata/*
**/target
/target
*.iml
project/*.ipr
project/*.iml
project/*.iws
project/out
project/*/target
project/target
project/*/bin
project/*/build
project/*.iml
project/*/*.iml
project/.idea
project/.idea/*
project/**/*.jasper
.idea
.idea/*
.idea/**/*
.DS_Store
project/.DS_Store
project/*/.DS_Store
*.tm*.epoch
tm.out
tm.out.*
tm*.log
tm*.lck
